* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f7f9fa;
    color: #071936;
}

/*MENU*/
header {
    height: 65px;
    background: white;
    border-bottom: 1px solid #e5e8eb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

.logo {
    font-size: 18px;
}

.logo span {
    color: #16a34a;
}

nav {
    display: flex;
    align-items: center;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: #596579;
    font-size: 14px;
}

.botao {
    display: inline-block;
    background: #16a34a;
    color: white;
    padding: 10px 22px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
}

.botao:hover {
    background: #12853d;
}

/*INÍCIO*/

.inicio {
    max-width: 1100px;
    margin: auto;
    padding: 90px 30px;
    display: flex;
    align-items: center;
    gap: 70px;
}

.texto {
    width: 45%;
}

.texto small,
.catalogo > small,
.formulario > small {
    color: #16a34a;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 10px;
}

.texto h1 {
    font-size: 48px;
    line-height: 1;
    margin: 25px 0;
}

.texto h1 span {
    color: #16a34a;
}

.texto p {
    color: #657083;
    line-height: 1.6;
    margin-bottom: 25px;
}

.grande {
    padding: 14px 25px;
}

.link {
    margin-left: 15px;
    color: #526078;
    font-size: 14px;
}

/* NÚMEROS */

.numeros {
    display: flex;
    gap: 45px;
    margin-top: 40px;
}

.numeros b {
    font-size: 14px;
}

.numeros p {
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 10px;
}


/* IMAGEM */

.imagem-principal {
    width: 50%;
    position: relative;
}

.imagem-principal img {
    width: 100%;
    height: 330px;
    object-fit: cover;
    border-radius: 25px;
}

.aviso {
    position: absolute;
    bottom: -20px;
    left: -20px;
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 30px #0002;
}

/*COMO FUNCIONA*/

.como {
    background: #eef3f7;
    padding: 55px 10%;
}

.como h2 {
    text-align: center;
    margin-bottom: 35px;
}

.passos {
    max-width: 1000px;
    margin: auto;
    display: flex;
    gap: 20px;
}

.passo {
    background: white;
    padding: 25px;
    border-radius: 16px;
    flex: 1;
    position: relative;
}

.passo strong {
    color: #16a34a;
    font-size: 11px;
}

.passo h3 {
    margin: 15px 0 8px;
}

.passo p {
    color: #667085;
    font-size: 13px;
    line-height: 1.5;
}

/*CATÁLOGO*/

.catalogo {
    max-width: 1100px;
    margin: auto;
    padding: 60px 30px;
}

.catalogo h2 {
    margin: 10px 0 25px;
}

.bikes {
    display: grid;
    grid-template-columns:
    repeat(4, 1fr);
    gap: 12px;
}

.bike {
    background: white;
    border: 1px solid #e2e6e9;
    border-radius: 12px;
    overflow: hidden;
    padding-bottom: 15px;
}

.bike img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.bike small {
    display: block;
    color: #16a34a;
    font-size: 8px;
    font-weight: bold;
    margin: 12px;
}

.bike h3 {
    font-size: 14px;
    margin: 0 12px 8px;
}

.bike p {
    color: #667085;
    font-size: 10px;
    line-height: 1.5;
    margin: 0 12px 15px;
}

.bike span {
    display: block;
    color: #999;
    font-size: 9px;
    margin: 0 12px 3px;
}

.bike > b {
    display: block;
    margin: 0 12px 12px;
}

.bike .botao {
    margin: 0 12px;
    width: calc(100% - 24px);
    text-align: center;
    padding: 9px;
    font-size: 11px;
}

.bike button {
    margin: 0 12px;
    width: calc(100% - 24px);
    padding: 9px;
    border: none;
    border-radius: 20px;
    background: #edf0f2;
    color: #999;
}

/*BANNER*/

.banner {
    margin-top: 10px;
    padding: 30px;
    background: #159447;
    color: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner h2 {
    margin-bottom: 8px;
}

.banner p {
    font-size: 12px;
}

.banner a {
    background: white;
    color: #159447;
    padding: 12px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

/*FORMULÁRIO*/

.formulario {
    max-width: 760px;
    margin: auto;
    padding: 45px 20px;
}

.formulario h1 {
    margin: 12px 0 25px;
}

.bike-escolhida {
    background: white;
    border: 1px solid #e2e6e9;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.bike-escolhida img {
    width: 70px;
    height: 50px;
    object-fit: cover;
    border-radius: 8px;
}

.bike-escolhida small {
    font-size: 8px;
}

.bike-escolhida p {
    font-size: 11px;
}

.bike-escolhida > strong {
    margin-left: auto;
    margin-right: 10px;
}

/* FORM */

form {
    background: transparent;
}

form h4 {
    color: #758095;
    font-size: 9px;
    letter-spacing: 2px;
    margin: 25px 0 12px;
}

label {
    display: block;
    font-size: 10px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 11px;
    border: 1px solid #d9dfe5;
    border-radius: 6px;
    background: white;
    margin-bottom: 12px;
}

.linha {
    display: flex;
    gap: 10px;
}

.linha > div {
    flex: 1;
}

/* VALOR */

.valor {
    background: #edfff4;
    border: 1px solid #a8e8bf;
    border-radius: 12px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.valor span {
    display: block;
    font-size: 12px;
}

.valor small {
    font-size: 8px;
}

.valor strong {
    color: #087b35;
    font-size: 18px;
}

.confirmar {
    width: 100%;
    margin-top: 12px;
    padding: 13px;
    border: none;
    border-radius: 7px;
    background: #16a34a;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/*CONFIRMAÇÃO*/

.confirmacao {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.check {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #d9fbe5;
    color: #16a34a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.confirmacao h1 {
    margin-bottom: 10px;
}

/*RODAPÉ*/

footer {
    padding: 25px;
    text-align: center;
    color: #777;
    font-size: 12px;
}

/*CELULAR*/

@media (max-width: 800px) {
    header {padding: 0 5%;}
    .inicio {flex-direction: column; padding: 50px 20px;}
    .texto {width: 100%;}
    .imagem-principal {width: 100%;}
    .bikes {grid-template-columns: repeat(2, 1fr);}
    .passos {flex-direction: column;}
    .linha {flex-direction: column;gap: 0;}
}

@media (max-width: 500px) {
    nav a:not(.botao) {display: none;}
    .texto h1 {font-size: 38px;}
    .bikes {grid-template-columns: 1fr;}
    .banner {flex-direction: column; align-items: flex-start; gap: 20px;}
    .numeros {gap: 20px;}
}
